* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.nav-logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}

/* Navbar */
nav {
  display: flex;
  background-color: rgb(0, 116, 211);
  justify-content: space-around;
  color: #fff;
  height: 50px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: #888;
}

/* Nav Toggle */
.nav-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.nav-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.nav-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Nav Toggle Animation */
.nav-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.nav-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.nav-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: #fff;
}

.nav-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.nav-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: #fff;
}

/* Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: -1;
    background-color: rgb(0, 116, 211);
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }

  .nav-toggle {
    display: flex;
  }
}
